.Home {
  display: grid;
  grid-template-columns: auto auto auto;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  text-align: center;
  height: 250px;
  padding: 30px;
  vertical-align: middle;
}

.Card img,
h1 {
  cursor: pointer;
}

.Main {
  width: 70%;
  margin: 0;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}
.Flight {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 6%;
  margin-bottom: 6%;
}
.spinner {
  position: absolute;
  top: 30%;
  left: 30%;
}

.Comment {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: lightgreen;
  text-align: left;
}

.Comment button {
  border: none;
  border-radius: 3px;
  width: 30%;
  background-color: lightskyblue;
  cursor: pointer;
}
.Comment input {
  margin: 10px 0;
}

.Comment button:hover {
  background-color: lightslategray;
}

.Card a {
  text-decoration: none;
  color: gray;
}

@media only screen and (max-width: 600px) {
  .Flight {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 !important;
  }

  .Main {
    width: 100%;
    margin: 0;
  }

  .Comment {
    width: 100%;
    margin: 0;
    padding: 10px;
    align-items: center;
    padding-top: 10px;
  }
}
